@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Dungeon Master Organizer</h1>
    <p class="lead">Welcome to the web's formost Character Creator and Character Manager</p>
</div>

